
	<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Cool Font for Menu-->
	<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Headland+One" rel="stylesheet">
	<!-- Cool Menu Icon for Mobiles-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ "/assets/css/icon-menu.css" | prepend: site.baseurl | prepend: site.url }}"/>
	<!-- Jquery-->
	<!--<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script></script>-->

	</head>
	
	<body>
		<input type ="checkbox" id="btn-menu">
		<label for = "btn-menu" class ="icon-menu"></label>
		<nav id="menu">
					<ul>
						<li id="name"><a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" {% if "/"  == page.url %} class="active"  {% endif %}>Daniel Velasquez-Cabrera</a></li>
					
						{% assign sorted_pages = site.pages | sort:"order" %}
						{% for pp in sorted_pages %}
						{% if pp.order > 0 %}
						{% if pp.show == "yes" %}						
						<li {% if pp.dropdown_folder != 'no' %} class="dropbtn mylink" {% endif %} class ="mylink">
							<a href="{{ pp.url | prepend: site.baseurl | prepend: site.url }}" {% if page.url==pp.url %} class="active" {% elsif page.url contains pp.url %} class="active" {% endif %}> {{ pp.title }} {% if pp.dropdown_folder != 'no' %}<span class="icon-down-open"></span>{% endif %}</a>
						</li>
					
							{% if pp.dropdown_folder != 'no' %} <!--drop down menu -->
								<ul class = "dropdown-content"> 
									{% assign foldername = pp.dropdown_folder %}
									{% assign sorted_pages2 = site.[pp.dropdown_folder] | sort:"order" %}
									{% for pp2 in sorted_pages2 %}
										{% if pp2.hide != 1 %}
										<li>
											<a href="{{ pp2.url | prepend: site.baseurl | prepend: site.url }}"> {{ pp2.title }}</a>
										</li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
						{% endif %}							
						{% endif %}
						{% endfor %}
					</ul>
		</nav>
	</body>
	<!-- <script src="{{ "/assets/menu.js" | prepend: site.baseurl | prepend: site.url }}"></script>-->

